.wrapper_cards{
    display: flex;
    flex-direction: column;
    gap: 23px;

    & .cargando{
        display: grid;
        place-items: center;
    }
}


@media screen and (min-width: 1200px) {
    .wrapper_cards{
        flex: 9;
    }
}