@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --clr-base: #1E86FF;
}

body {
  background-color: rgb(246, 247, 251);
  font-family: Poppins;
  padding-inline: 10px;
}

