@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --clr-base: #1E86FF;
  --clr-plchldr: #B9BDCF;
  --clr-body: rgb(246, 247, 251);

}

body {
  background-color: var(--clr-body);
  font-family: Poppins;
  padding-inline: 10px;
}

@media screen and (min-width: 1200px) {
  body{
    padding-inline: 110px;
  }
  
}

